
.background {
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../public/9afe0493484903.5e66500f8dea4.gif') !important;
}

.backgroundSecondary {
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../public/lofi-girl.gif') !important;
}

.radio_indicator {
    background-image: linear-gradient(to right, #D5D3F8, #E5E2F8, #FBF5FC, #FFE0F3);
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.main {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}

.leftSide {
    flex: 0.3;
    /* justify-content: center; */
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: -5px;
}

.time {
    display: flex;
    text-align: center;
    font-weight: 500;
}

.weather {
    border-radius: 8px; /* Rounded corners */
    padding: 16px; /* Spacing inside the widget */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1rem;

}

.timer {
    border-radius: 12px; /* Rounded corners */
    padding: 24px; /* Spacing inside the timer */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Slightly larger shadow */
    text-align: center;
    display: flex;
    flex-direction: row;
    

}

.musicSlider {
    border-radius: 12px; /* Rounded corners */
    padding: 24px; /* Spacing inside the timer */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Slightly larger shadow */
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 0.4;
    margin-top: 30px;
  
}

.taskManager {

}
.backgroundSelect {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--background-secondary);
    color: var(--text-secondary);
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    z-index: 100;
}

.register {
    position: relative;
    justify-content: center;
}

.chatbox {
    height: 500px;
    width: 500px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

