@import 'radix-ui/colors/purple.css';
@import 'radix-ui/colors/gray.css';
@import 'radix-ui/colors/teal.css';
@import 'radix-ui/colors/red.css';
@import 'radix-ui/colors/yellow.css';
@import 'radix-ui/colors/green.css';


.red {
    color: var(--red-600);
}

.yellow {
    color: var(--yellow-600);
}

.green {
    color: var(--green-600);
}

.purple {
    color: var(--purple-600);
}

.gray {
    color: var(--gray-600);
}

.teal {
    color: var(--teal-600);
}

/* Path: src/app/styles/global.css */
/* Compare this snippet from src/components/Player/AudioPlayer.css: */
