
  .circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }

  .timer-circle {
    transform: rotate(-90deg);

  }

  .time-display {
    position: absolute;
    font-weight: bold;
    text-align: center;
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .controls button {
    margin: 0 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .controls button:first-of-type {
    background-color: #4caf50;
    color: white;
  }
  
  .controls button:nth-of-type(2) {
    background-color: #f0ad4e;
    color: white;
  }
  
  .controls button:last-of-type {
    background-color: #d9534f;
    color: white;
  }

  .controls button:hover {
    transform: scale(1.0);
    outline: solid var(--background-primary)
  }

  .intervals button {
      margin: 0 0px;
      padding: 5px 10px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }

  .intervals button:first-of-type {
    background-color: #4caf50;
    color: white;
  }

 .intervals button:nth-child(2) {
  background-color: #f0ad4e;
  color: white;
 }

 .intervals button:hover {
  outline: solid var(--background-primary)
 }